

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

div.navbar a.userinfo
{
	display: block;
	float: left;
	color: #fff;
	line-height: 20px;
	padding: 10px 15px 10px;
}

div.navbar .navbar-form a.logout {
	float: right;
}

div.navbar form {
	margin: 0px;
}

