

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

div.navbar a.userinfo
{
	display: block;
	float: left;
	color: #fff;
	line-height: 20px;
	padding: 10px 15px 10px;
}

div.navbar .navbar-form a.logout {
	float: right;
}

div.navbar form {
	margin: 0px;
}

.alert.hidden {
	display: none;
}

#toast-container {
	margin-top: 40px;
}


/*
 The animate-enter prefix is the event name that you
 have provided within the ngAnimate attribute.
*/
.animate-enter-setup,
.animate-leave-setup {
 -webkit-transition: 5s linear all; /* Safari/Chrome */
 -moz-transition: 5s linear all; /* Firefox */
 -ms-transition: 5s linear all; /* IE10 */
 -o-transition: 5s linear all; /* Opera */
 transition: 5s linear all; /* Future Browsers */

 /* The animation preparation code */
 opacity: 0;
 background-color: #ff0000;
}

/*
 Keep in mind that you want to combine both CSS
 classes together to avoid any CSS-specificity
 conflicts
*/
.animate-enter-setup.animate-enter-start {
 /* The animation code itself */
 opacity: 1;
 background-color: #aaffff;
}
