@(user: User)

@import helper._
@import helper.twitterBootstrap._

@main("Users", user) {
    <div ng-controller="UserController">
    	<h1>Users</h1>
    	
		<ul>
			<li ng-repeat="user in users">
				<span>{{user.name}} ({{user.email}})</span>
				<span class="btn" ng-click="deleteUser('{{user.email}}')">Delete user</span>
			</li>
		</ul>
    
        <form autocomplete="off" ng-submit="addNewUser()" name="newUserForm" class="form-horizontal">
            <fieldset>
            <legend>New user</legend>
            <div class="control-group">
                <label class="control-label" for="name">Name</label>
                <div class="controls">
                    <input ng-model="newUser.name" type="text" name="name" placeholder="add name of new user" required />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input ng-model="newUser.password" type="password" name="password" placeholder="add password of new user" required />
                    <button type="button" ng-click="newUserGeneratePassword($event)" class="btn">Generate new password</button>
                    <span>{{newUser.generatedPassword}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    <input ng-model="newUser.email" type="email" name="email" placeholder="add new user email address" required email-valid />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input class="btn" type="submit" value="add" />
                </div>
            </div>
            </fieldset>
        </form>
    </div>

    @*
	<h2>Create new list</h2>

	@listForm.globalErrors.map { error =>
		<div>@error</div>
	}

	@form(routes.List.newList) {
		@inputText(listForm("email"))

		<input class="btn" type="submit" value="Create" />
	}
	*@
}
