@(user: User, users: Seq[User])

@import helper._
@import helper.twitterBootstrap._

@main("Users", user) {

    <h1>@users.size user(s) </h1>

    <ul>
    	@users.map { u =>
    		<li><a href="@routes.User.detail(u.email)">@u</a>
    			@form(routes.User.delete(u.email)) {
                    <input class="btn" type="submit" value="Delete" />
                }
    		</li>
    	}
    </ul>


    <div ng-controller="UserController">

        <form ng-submit="newUser()" name="newUserForm" class="form-inline">
            <input ng-model="newUserEmail" type="email" name="input" placeholder="add new user email address" email-valid />
            <!-- <span ng-show="addMemberForm.input.$error.required" class="help-block">Required</span> -->
            <input class="btn" type="submit" value="add" />
        </form>
    </div>

    @*
	<h2>Create new list</h2>

	@listForm.globalErrors.map { error =>
		<div>@error</div>
	}

	@form(routes.List.newList) {
		@inputText(listForm("email"))

		<input class="btn" type="submit" value="Create" />
	}
	*@
}
