@(user: models.User, email: String)

@import helper._
@import helper.twitterBootstrap._

@main(email, user) {
	<div ng-controller="MailinglistDetailController" ng-init="init('@email')">
    	<div class="alert alert-block alert-error fade in hidden">
    		<button type="button" class="close" data-dismiss="alert">×</button>
			<ul>
				<li ng-repeat="item in messages" class="text-{{item.messageType}}">
					<span>{{item.message}}</span>
				</li>
			</ul>
    	</div>

		<h1 ng-bind="currentlist.email">@email</h1>

		<ul>
			<li ng-repeat="member in currentlist.members">
				<span>{{member}}</span>
				<span class="btn" ng-click="removeMember('{{member}}')">Remove from list</span>
			</li>
		</ul>

		<h3>Add new member</h3>

		<form ng-submit="addMember()" name="addMemberForm" class="form-inline">
			<input ng-model="newMemberemail" type="text" placeholder="add new member email address" email-valid typeahead="suggestion for suggestion in getUserTypeahead($viewValue)" />
			<!-- <span ng-show="addMemberForm.input.$error.required" class="help-block">Required</span> -->
			<input class="btn" type="submit" value="add" />
		</form>
	</div>
}
