@(lists: List[String], listForm: Form[String], user: User)

@import helper._
@import helper.twitterBootstrap._

@main("Mailing lists", user) {
    <div ng-controller="MailinglistController">
    	<h1>Lists</h1>

		<ul>
			<li ng-repeat="listemail in lists">
				<span><a href="/list/{{listemail}}">{{listemail}}</a></span>
				<span class="btn" ng-click="deleteList(listemail)">Delete list</span>
			</li>
		</ul>

        <form autocomplete="off" ng-submit="addNewMailinglist()" name="newMailinglistForm" class="form-horizontal">
            <fieldset>
            <legend>New mailinglist</legend>
            <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    <input ng-model="newMailinglist.email" type="email" name="email" placeholder="add new mailinglist email address" required email-valid />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input class="btn" type="submit" value="add" />
                </div>
            </div>
            </fieldset>
        </form>
	</div>
}
